html, body{
    padding: 0;
    margin: -2vh 0vw 0vh 0vw;
    height: 100%;
    width: 100%;
}

/* 
.section-1
 */

.section-1{
    background-image: url(../Assests/About-Dlc/Sec-1-Img-bg.jpg);
    height: 100%;
    background-size: 100% 100%;
}

.sec-1-title-1{
    /* font-size: 100px; */
    font: 6em sans-serif;
    margin: 30vh 0vw 0vh 25vw;
    color: whitesmoke;
}

.scroll{
    font: 2em messina-sans;
    /* font-size: 90px; */
    color: #FFFFFFA6;
    margin: 30vh 0vw 0vh 15vw;
}

/* 
section-2
*/

.section-2{
    width: 100%;
    height: 50%;
}

.dlc-info{
    font: 4em gt-sectra;
    text-align: center;
    margin: 20vh 0vw 0vh 0vw;
    color: #111111;
}

/* 
section-3
*/

.section-3{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.left-part{
    width: 35%;
}

.right-part{
    width: 45%;
}

.sec-3-heading{
    font: 4em gt-sectra;
    margin: 25vh 0vw -0vh 0vw;
}

.goal{
    font: 30px messina-sans;
    color: #777777;
}

.right-part img{
    margin: 0vh 0vw 0vh 10vw;
}

/* 
section-4
*/

.section-4{
    width: 100%;
    height: 120%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.section-4 img{
    margin: 20vh 0vw 0vh 10vw;
}

/* 
section-5
*/

.section-5{
    /* background-color: #777777; */
    width: 100%;
    height: 100%;
}

.sec-5-title{
    font-size: 50px;
    margin: 1vh 10vw;
    color: #000000;
}

.fa-arrow-alt-circle-right{
    font-size: 100px;
    margin: -10vh 0vw 0vh 80vw;
}

.fa-arrow-alt-circle-left{
    font-size: 100px;
    margin: -10vh 0vw 0vh 0vw;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));
    }
}

.infinite-loop{
    display: flex;
    width: calc(250px * 5);
    /*slide tack width = num of slides(25)*individualslide(250px) */
    animation: scroll 40s linear infinite;
}

.slider{
    width: 100%;
     height: 800px;
     display: flex;
     align-items: center;
     perspective: 100px;
}

.slider img{
    width: 500px;
    height: 600px;
    margin: 10vh 0.1vw ; 
    padding: 10px;
}

.slider img:hover{
    transform: translateZ(20px);
}

.name-1{
    font-size: 2em;
    margin: 15vh 0vw -28vh -22vw;
    color: #FFFFFF;
}

.description{
    font-size: 1.3em;
    margin: 30vh 0vw -15vh -22vw;
    color: #FFFFFFBF;
}

/* 
section-6
*/

.section-6{
    width: 100%;
    height: 100%;
}

.section-6 img {
    width: 100%;
    height: 100%;
}

/* 
section-7
*/

.section-7{
    width: 100%;
    height: 150%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sec7-left-part{
    width: 45%;
}

.sec7-left-part img{
    margin: 20vh 0vw 0vh 5vw ;
    width: 70%;
}

.sec7-right-part{
    width: 45%;
}

.sec7-title{
    font-size: 50px;
    color: black;
    margin: 35vh 0vw -34vh 0vw;
}

.sec7-para{
    color: #777777;
    font-size: 30px;
    margin: 35vh 0vw 0vh 0vw;
}

.sec7-para img{
    margin: 25vh 0vw;

}

/* 
section-8
*/

.section-8{
    width: 100%;
    height: 120%;
}

.section-8 img{
    width: 100%;
    height: 100%;
    margin: -10vh 0vw;
}

/* 
section-9
*/

.section-9{
    width: 100%;
    height: 125%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sec-9-left-part{
    width: 45%;
}

.sec-9-right-part{
    width: 45%;
}

.sec9-title{
    font-size: 50px;
    color: black;
    margin: 20vh 0vw 0vh 8vw;
}

.sec9-para{
    font-size: 25px;
    color: #777777;
    margin: 2vh 0vw 0vh 8vw;
}

.sec-9-left-part img{
    margin: 20vh 0vw;
    width: 80%;
}

.sec-9-right-part img{
    width: 75%;
}

/* 
section-10
*/

.section-10{
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
}

.section-10 img {
    width: 100%;
}

.fa-square{
    font-size: 70px;
    margin: 0vh 45vw ;
}
