*{box-sizing: border-box;}


body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #161515fa;

/*     display:block; */
}

.header{
    padding: 15px ;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:  0px solid white;
}
.logo-content{

    display: flex;
    width: 80%;
    justify-content: flex-start;
    background-color: gray
    /* dnt chng gray to black untill logo is settled  */
}

.dlc-text{
    font: normal bold 20px/25px;
    font-family:sans-serif;
    letter-spacing: 0px;
    color: white;
}

.lc-text{
     font: normal bold 20px/25px;
    font-family:sans-serif;
    letter-spacing: 0px;
    color: white
}



.main-content{
     /* display: grid;
     display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border : 10px; */
/*     display: grid; */
    max-width: 100%;
    margin: auto;
    background-color: black;
    overflow: auto;
}

.image{
    /* flex-wrap: wrap;
    height: 25%;
    width: 25%;
/*     border: 1px solid; */
    justify-content:center;

    margin: 5px;
    border: 1px solid black;
    float: right;
    width: 20%;
}

.image img{
    width: 100%;
    height: auto;
}

.name{
    /* font: normal bold 20px/25px;
    font-family:sans-serif;
    letter-spacing: 0px;
    color: white; */
    padding: 15px;
    text-align: center;

}

.sub-name{
    font: normal;
    font-family:sans-serif;
    letter-spacing: 0px;
    color: white;
}

.footer{
    display: flex;
    width: 100%;
padding: 10px solid green;
width: 100%;

}

.footer-content{
    display: flex;
    width: 100%;
padding: 10px solid green;
    justify-content: center;

width: 100%;
}

.foot-logo{
/*     width: 50%; */
width: 40%;
height: 100px;
    background-color: gray 
    /* dnt chng gray to black untill logo is settled  */
}
.details{
    font-family:sans-serif;
    width: 40%;
    letter-spacing: 0px;
    color: white;
    justify-content: right;
    
}