*{box-sizing: border-box;}

html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: black;

}

/* container */
.galleryImage{
max-width: 100%;
overflow: auto;
}


/* gallery */
.image{
    /* margin: 5px; */
    float: left;
    width: 33.33%;
}


.image img{
    width: 100%;
    height: 150%;
}

.name{
    text-align: center;
    color: white;
}



/* 
.main-content{
    padding: 0 6px;
    float: left;
    width: 25%;
}

.image{
    border: 1px solid black ;
}

.image img{
    width: 33%;
    height: 33%;
}
 */
