*{box-sizing: border-box;}

html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000;

}

.main-header{
    background-image: url(../Assests/Gallerymain.jpg);
    background-size: cover; 
    background-position: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    color: whitesmoke;
    text-transform: capitalize;
    font-size: calc(20.66667px + 3.06667vw);
    margin: 0 0 24vh 12vw;
}


/* container */
.galleryImage{
max-width: 100%;
overflow: auto;
}


/* gallery */
.image{
    /* margin: 5px; */
    float: left;
    width: 33.33%;
}


.image img{
    width: 100%;
    height: auto;
}

.name{
    text-align: center;
    color: white;
}



/* @media only screen and (max-width: 1440px){
    .galleryImage{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px){
    .galleryImage{
        width: 100%;
    }
}


@media only screen and (max-width: 768px){
    .galleryImage{
        width: 100%;
    }
}


@media only screen and (max-width: 540px){
    .galleryImage{
        width: 100%;
    }
} */
