html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

/* section-1 */

.section-1{
    /* using flex disrupts option */
/* display: flex;  */
    /* background-image: url(../Assests/Gallerymain.jpg); */
    /* background-clip:; */
    width: 100%;
    /* height: 87.5%; */
    height: 100%;
    /* object-fit:cover; */
    /* z-index: 1; */
}

.video-1{
    /*
    margin: -16.5vh 0vw 0vh 0vw;
     */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

.main-title{
    /* vh vw use accordingly  */
    /* margin: -5vh 0vw -1vh 1vw;
    z-index: 1; */
    height: 100vh;
    display: flex;
    color: yellow;
    font-size: calc(30px + 3.00vw);
    z-index: 1;
}

.title{
    color: black;
    text-transform: capitalize;
    font-size: calc(2.5px + 3.06667vw);
    margin: 12vh 10vw 5vh 6vw;
}
.title1{
    font-size: calc(1.0px + 2.56667vw);
    margin: -8vh 10vw 10vh 6vw;
}

.text{
    color: #777777;
    font-size: calc(1.0px + 1.5vw);
    /* text-align: center; */
    margin: 12vh 10vw 50vh 6vw;
}

/* section-2 */

.section-2{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../Assests/HomePage/S-2\ Background-Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
}

.left-part{
    width: 45%;
}
.sec-2-img-1 img{
    margin: 12vh 10vw 50vh 6vw;
    height: 65%;
    width: 65%;
}

.right-part{
    width: 45%;
}

.right-part img{
   margin: 12vh 10vw 0vh 6vw;
    width: 80%;
    height: 100%;
}

/* section-3 */
.section-3{
    width: 100%;
    /* height: 100%; */
    /* background-color: orchid; */
    /* overflow: hidden; */
}

.infinite-loop{
    display: flex;
    width: calc(250px * 25);
    /*slide tack width = num of slides(25)*individualslide(250px) */
    animation: scroll 40s linear infinite;
}

.slider{
    width: 100%;
    /* height: 100%; */
     height: 800px;
     display: flex;
     align-items: center;
     perspective: 100px;
     /* padding: 15px;    */
     /* margin: 3%; */
}

.abv-text{

}
.name-1{
    margin: 50vh 0vw 0vh -22.5vw;
    font-size: 50px;
    color: #FFFFFF;
}
.location{
    margin: 0vh 0vw 19vh -22.5vw;
    color: #FFFFFFBF;
    font-size: 20px;
    /* color: black; */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*12));
    }
}

.slider img{
    width: 500px;
    height: 600px;
    margin: 10vh 0.1vw ; 
    padding: 10px;
}

.slider img:hover{
    transform: translateZ(20px);
}


.title2{
    color: black;
    text-transform: capitalize;
    font-size: calc(2.5px + 3.06667vw);
    margin: 15vh 10vw 5vh 11vw;
}

.title3{
    font-size: calc(1.0px + 2.56667vw);
    margin: -8vh 10vw 1vh 11vw;
}

/* section-4 */

.section-4{
    background-image: url(../Assests/HomePage/globe-usa.jpg);
    width: 75.5%;
    height: 123%;
    object-fit: cover;
    margin: 0vh 0vw 0vh 0vw;
    z-index: 3;
}

.lands{
    color: black;
    text-transform: capitalize;
    font-size: calc(3px + 3.06667vw);
    /* margin: -20vh 10vw 5vh 11vw; */
    margin: 10vh 0vw 5vh 10vw;
}

.discovery{
    font-size: calc(1.0px + 2.56667vw);
    margin: -7vh 8vw 0vh 10vw;
}

.map{
    font-size: 30px;
    color: black;
    margin: 0vh 10vw ;
}

.black-box{
    background-color: black;
    height: 65%;
    width: 100%;
    margin: -30vh 0vw 0vh 55vw;
    z-index: 2;
}

.sec-4-img-2{
    width: 25%;
    height: 65%;
    z-index: 1;
    margin: -90vh 0vw 60vh 77vw;
}

.text-4{
    color: #777777;
    font-size: 22px;
    /* text-align: left; */
    margin: 5vh 10vw 5vh 11vw;
}

/* section-5 */

.section-5{
    width: 100%;
    /* overflow: auto; */
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.name-tag{
    color: white;
    z-index: 2;
    margin: -55vh 0vw 0vh 13vw;
    font-size: 350%;
}

/* .fal{
    z-index: 3;
} */
/* .fa-arrow-circle-right{
    z-index: 3;
} */

.fal fa-arrow-circle-right{
    z-index: 3;
}