html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.title{
    color: black;
    text-transform: capitalize;
    font-size: calc(2.6px + 3.06667vw);
    margin: 12vh 10vw 5vh 6vw;
}
.text{
    color: #777777;
    font-size: calc(1.0px + 1.5vw);
    text-align: center;
    margin: 12vh 10vw 50vh 6vw;
}

.section-2{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../Assests/HomePage/S-2\ Background-Image.jpg);
}

.left-part{
    width: 45%;
}
.sec-2-img-1 img{
    margin: 12vh 10vw 50vh 6vw;
    height: 65%;
    width: 65%;
}

.right-part{
    width: 45%;
}

.right-part img{
   margin: 12vh 10vw 0vh 6vw;
    width: 80%;
    height: 100%;
}

.section-5{
    width: 100%;
    /* overflow: auto; */
    display: flex;
    justify-content: center;
}

.image img{
    width: 100%;
    height: 80%;
    object-fit: cover;

}
.p{
    color: white;
}